// ==========================================================================
// Footer
// ==========================================================================
$dvmrcnrs-footer-classname: 'dvmrcnrs-footer';
.#{$dvmrcnrs-footer-classname} {
    font-size: 0.833rem;
    color: #cccccc;
    text-align: center;
}
