@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//
// Canvas Background
// ==========================================================================
$dvmrcnrs-canvas-bg-classname: 'dvmrcnrs-canvas-bg';
.#{$dvmrcnrs-canvas-bg-classname} {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: calc(100vh - 4.250rem - 134px);
    z-index: -1;

    > div {
        height: 100%;
    }
}
